*{
    font-family: inherit;

 
}

body{

background-image: url(creatina-monohidratada-250g-growth-supplements23.jpg);

background-repeat: no-repeat;
background-position: center;

}
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');


h1 {
text-align: center;
color: rgb(44, 218, 0);
background-color: rgba(138, 132, 132, 0.74);
box-shadow: 1px 10px 25px rgb(0, 0, 0);
}

p{
font-family: "Bodoni Moda", serif;
text-align: center;
text-decoration: solid;

}
