body {
    background-image: url('imgs/imagem-fundo1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}


h1 {
    text-align: center;
}